<div class="card" style="width: 18rem;">
    <img src="assets/placeholder.svg" class="card-img-top" alt="placeholder">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <a href="/item/{{ product.hash }}" class="btn btn-outline-primary">Zur Anzeige</a>
    </div>
</div>