<div class="card" style="width: 18rem;">
    <img src="/assets/placeholder.svg" class="card-img-top" alt="placeholder">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <p class="card-text">{{ item.price }}€</p>
      <a href="/item/{{ item.id }}" class="btn btn-outline-primary">Zur Anzeige</a>
    </div>
</div>