<div class="container-sm my-5 alert alert-info alert-dismissible fade show" role="alert">
    <p class="fs-5">In der Produktübersicht finden Sie alle Anzeigen, die Ihnen gehören, übersichtlich aufgelistet. Diese Anzeigen sind nach Aktivität in die Kategorien 'aktiv' und 'inaktiv' unterteilt. Dadurch behalten Sie leicht den Überblick über Ihre aktuellen Anzeigen und können schnell erkennen, welche noch aktiv sind und welche nicht mehr. Inaktive Anzeigen werden dabei aus der Gesamtübersicht ausgeblendet, um Ihre Navigation zu erleichtern und Ihnen eine angenehme Nutzung zu ermöglichen.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

@!component('components/item-container', { heading: 'Aktiv' , products: aktiveProducts })

@!component('components/item-container', { heading: 'Inaktiv', products: inaktiveProducts })
